<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <!--pybo CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Hello, pybo!</title>
</head>
<body>

<!--네비게이션 바-->
{% include "navbar.html" %}
<!--네비게이션 바-->
{% block content %}
{% endblock %}

<script src="{{url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

<!-- 자바 스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바 스크립트 End -->

</body>
</html>